<div class="top-page-home container-fluid" style="background-color: #F5F8FF;min-height: 60vh;border-bottom: #A7BCFF solid 2px;">
    <div class="row">

        <div class="col-lg-6" id="image-side" style="min-height: 60vh;border-radius: 0px 20px 20px 0px;border: #A7BCFF solid 2px;
        background-image: url(/assets/pages/friendsofclarknarvas/me.png);background-size: cover; display: flex;background-position: center;">

        </div>

        <div class="col-lg-6" id="content-side">
            <div class="top-page-home-content" style="margin: auto;max-width: 1200px;">
                <span class="header-text highlight" style="">Hey there, I’m Clark! 🤓</span><br>
                <span class="header-description" style="font-size: 120%;">I cannot summarise myself in a short, catchy tagline, but I’m simply a creative, nerdy 16-year-old content creator.</span>
<br><br>
                <span class="bold">🤔 <b>First time here?</b> Don't know where to start? <a href="/starthere">Start Here</a></span><br>
                <span class="bold">🤓 Want to know more about me? - <a href="/me">Read about me and my journey</a></span>
            </div>
        </div>

        
    </div>
</div>


<style>

.top-page-home #content-side {
    padding: 50px;height: 60vh;display: flex;
}
.header-text {
        font-size: 300%;display: inline;font-family: HeadingFont;
    }

.image-side {

}
    @media 

only screen and (max-width: 900px)  {
    .header-text {
        font-size: 200%;
    }
    #content-side {
        height: auto !important;
        min-height: auto !important;
    }
    .top-page-home #content-side{
    padding: 15px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    }

    #image-side {
        height: 40vh !important;
        min-height: 0vh !important;
        border-radius: 00px 0px 20px 20px !important;
        border-top: 0px !important;
    }

}
</style>