{% include coresite-top.html %}

<div class="content container-fluid">
    <div class="row" >
        <div class="col-md-6" id="big-img" style="background-image: url(assets/pages/friendsofclarknarvas/me.png); height: 100vh;background-size: cover;background-position: center;">
            
        </div>

        <div class="col-md-6" style="padding-left: 35px; padding-right: 35px;display: flex;height: 100vh;">
            <div class="rightside-content" style="margin-top: auto; margin-bottom: auto;">
                <img src="/assets/brand/bluelogo.png" style="margin-top: 30px;display: inline-block;margin-bottom: 10px;" alt="Clark Narvas" width="40" height="40">
                <h2 style="padding: 0;margin: 0;margin-bottom: 25px;color: #3672ff;">Join me on a weird and wonderful journey through my life. </h2>
                <p>I created this blog out of boredom when I was 14. Now, as I grow up, I’m trying to become the best version of myself. <br><br>

                    Join my newsletter, where I’ll talk about my journey, thoughts, opinions and tips! 💡
                    </p>
                    {% include components/email-card.html %}
        </div>
        </div>
    </div>
</div>

<style>
    .content {
        height: 100vh;
    }

    body {
        background-color: #d2dffc;

    }

    @media only screen and (max-width: 766px) {
        #big-img {
            display: none !important;
            background-image: url(sdfsdfsdf);
        }

        
}
</style>

{% include footer.html %}