<!doctype html>
<html lang="en">
  <head>


            <!-- Start cookieyes banner -->
            <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/a735ef26cd9ae388b4599fbf.js"></script>
            <!-- End cookieyes banner --> 

    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K0VKJ99KNN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K0VKJ99KNN');
</script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/assets/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@400;900&display=swap" rel="stylesheet"> 

<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

<link rel="canonical" href="{{ page.url | prepend: site.url }}">

<script async defer data-domain="clarknarvas.com" src="https://plausible.io/js/plausible.js"></script>


<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:image" content="{% if page.featured-image %}https://clarknarvas.com{{ page.featured-image }}{% else %}https://clarknarvas.com/assets/brand/website.png{% endif %}"/>
<meta property="og:image:width" content="1920"/>
<meta property="og:image:height" content="1080"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@clarknarvas">
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{% if page.featured-image %}https://clarknarvas.com{{ page.featured-image }}{% else %}https://clarknarvas.com/assets/brand/website.png{% endif %}">

<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">



    <title>{{page.title}}</title>
  </head>