<footer>
  <div class="footer justify-content-center" style="overflow: hidden">
  <h2 class="insighttagline"><span class="anworldof">An </span>insight <span class="anworldof"> into the </span>world <span class="anworldof">of</span> 🤓</h2>
  <p style="margin-top: 15px;">Made with 💙 by Clark</p>

  <p style="font-size: 70%">Growth is painful, change is painful. But nothing is as painful as staying stuck somewhere where you don't belong. <br><b>~ N.R. Narayana Murthy</b></p>

  <p style="font-size: 70%">(C) Clark Narvas 2020</p>
  <a href="/friendsofclarknarvas" style="color: transparent;">easter egg<img class="justify-content: center;" alt="" src="/assets/brand/aecgr-m21bk.webp" style="height: 100%; width: 100%;"></a>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
