<footer>
  <div class="footer" style="overflow: hidden; padding-left: 20px; padding-right: 20px;">
    <!--- <img src="/assets/brand/glasses asset.png" style="height: auto; max-width: 300px;" alt=""> -->
<!--<h2 class="insighttagline"><span class="anworldof">An </span>insight <span class="anworldof"> into the </span>world <span class="anworldof">of</span> 🤓</h2> --> 

<h2>On a new journey.</h2>
  <p style="margin-top: 15px;">Made with 💙 by Clark</p>

  <p style="font-size: 70%">Growth is painful, change is painful. But nothing is as painful as staying stuck somewhere where you don't belong. <br><b>~ N.R. Narayana Murthy</b></p>
  <p style="font-size: 70%"><i><a href="https://clarknarvas.com/2022">in 2023, I want to simply find fulfillment and contentment in who I am and what I do and use that as a platform for progress.</a></i></p>

  <p style="font-size: 70%">(C) Clark Narvas 2023</p>
  <br>
  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
