{% include coresite-top.html %}
  <body>

    <!----
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    -->

    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed" style="background-color:#E2E9FF;border-bottom: #A7BCFF 2px solid;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <img src="/assets/brand/logos/cn small minified for website.png" style="height: 30px; width: 30px;margin-left: 5px;">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          ☰
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navbar-center">
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight'%}
            {% for p in navigation_pages %}
              {% if p.navigation_weight %}
            <a class="nav-link" aria-current="page" href="{{ p.url }}" {% if p.url == page.url %} class="active" {% endif %}>
              {{ p.title }}
            </a>

            {% endif %}
            {% endfor %}
            
                    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/allblogs/">The Blog</a></li>
            <li><a class="dropdown-item" href="/tags/digital">Digital</a></li>
            <li><a class="dropdown-item" href="/tags/lockdown">Lockdown</a></li>
            <li><a class="dropdown-item" href="/tags/thoughts">Thoughts</a></li>
          </ul>
        </li>
          </div>

          
        </div>
        
      </div>
        <style>
            .navbar-nav.navbar-center { 
            position: absolute; 
            left: 50%; 
            transform: translatex(-50%); 
        } 

        .nav-link:hover {
            background-color: white !important;
            border-radius: 5px !important;
        }

        .nav-link {
            border-radius: 5px !important;
        }

        @media only screen and (max-width: 900px)  {
          .navbar-nav.navbar-center {
            left: 0%;
            position: relative;
            transform: translatex(0%);
          }
      }
        </style>
        </div>

        </div>
    </nav>