<div id="newsletter-promo" style="background-color: #F5F8FF;border-top: #A7BCFF solid 2px;border-bottom: #A7BCFF solid 2px; ">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="padding: 50px;display: flex;">
                <div class="content" style="margin-top: auto; margin-bottom: auto;">
                    <span class="highlight"style="padding: 0;margin: 0;margin-bottom: 15px;font-size: 200%;font-family:HeadingFont;">Sign up to my
                        newsletter.</span>
                    <p>Join my newsletter, where I’ll talk about my journey, thoughts, opinions and tips! 💡


                        </p>
                        {% include components/email-card.html %}
                </div>
        </DIV>
    
            <div class="col-lg-6" id="newsletter-image-side" style="background-image: url(/assets/brand/genericpatterns/CLARK.png);
            background-size: cover;
            background-position: center;min-height: 50vh;border-radius: 20px 0px 0px 20px;border: #A7BCFF solid 2px;">
            </div>



    </div>
</div>
</div>


<style>

    @media 

only screen and (max-width: 900px)  {

    #newsletter-promo .col-lg-6{
    padding: 15px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    }

    #newsletter-promo .col-lg-6 .content{
    padding-left: 20px;
    padding-right: 20px;
    }


    #newsletter-promo #newsletter-image-side {
        border-radius: 20px 20px 0px 0px !important;
    }





}
</style>
