<div style="background-color: #F5F8FF;border-top: #A7BCFF solid 2px;border-bottom: #A7BCFF solid 2px; ">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="padding: 50px;">
                <span class="highlight"style="padding: 0;margin: 0;margin-bottom: 15px;font-size: 200%;font-family:HeadingFont;">Sign up to my
                    newsletter.</span>
                <p>Join my newsletter, where I’ll talk about my journey, thoughts, opinions and tips! 💡


                    </p>
                    {% include components/email-card.html %}
        </DIV>
    
            <div class="col-lg-6" style="height: 400px;background-image: url(/assets/brand/genericpatterns/CLARK.png);
            background-size: cover;
            background-position: center;min-height: 60vh;border-radius: 20px 0px 0px 20px;border: #A7BCFF solid 2px;">
            </div>



    </div>
</div>
</div>
