<div style="color: #3672ff;">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="background-color: #d2dffc; padding-left: 25px; padding-right: 25px;">
            <img src="/assets/brand/bluelogo.png" style="margin-top: 30px;display: inline-block;margin-bottom: 10px;" alt="Clark Narvas" width="40" height="40">
                <h2 style="padding: 0;margin: 0;margin-bottom: 25px;">Join me on a weird and wonderful journey through my life. </h2>
                <p>I created this blog out of boredom when I was 14. Now, as I grow up, I’m trying to become the best version of myself. <br><br>

                    Join my newsletter, where I’ll talk about my journey, thoughts, opinions and tips! 💡
                    </p>
                    {% include components/email-card.html %}
        </DIV>
    
            <div class="col-lg-6" style="height: 600px;background-image: url(/assets/brand/generic.png);
            background-size: cover;
            background-position: center;">
            </div>



    </div>
</div>
</div>
