/** Fonts **/
@font-face {
    font-family: ParagraphFont;
    src: url(/assets/brand/fonts/Metropolis-Medium.woff);
  }

  @font-face {
    font-family: HeadingFont;
    src: url(/assets/brand/fonts/Metropolis-ExtraBold.woff);
  }

  @font-face {
    font-family: BoldFont;
    src: url(/assets/brand/fonts/Metropolis-Bold.woff);
  }

  @font-face {
    font-family: BlackFont;
    src: url(/assets/brand/fonts/Metropolis-Black.woff);
  }


body {
    font-family: ParagraphFont, Arial;
    scrollbar-base-color: #2768FF;
    font-size: 105%;
    border: 10px solid #2768FF;
    min-height: 100vh;
    color: rgb(24, 24, 24);
}

.bg-light {
    background-color: #f1f5ff;
}


p {
    font-family: 'ParagraphFont';
}

b {
    font-family: 'BoldFont' !important;
}
strong {
    font-family: 'BoldFont' !important;
}

.container-writing {
    max-width: 700px;
    margin: auto;
}

@media (max-width: 800px) {

.container-writing {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
}

.page-title-box {
    background-color: red;
}

.page-title {
    padding-bottom: 10px;
}

.page-details {
    border-bottom: #467cff 3px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    font-family: HeadingFont;
    padding: 0;
    margin: 0;
}




a {
    text-decoration: underline dotted 1px;
}



a.noactiveeffect:active {
    background-color: transparent !important;
    color: inherit !important;
    color: black;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.thumbnail-image {
    width: 100%;
    height: 62vh;
}

.categoryicon {
    font-family: ParagraphFont;
    display: inline-block;
    text-transform: uppercase;
    color: #2768FF;
}

.line {
    width: 100%;
    height: 2px;
    border-bottom: 2px #A7BCFF solid;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer {
    background-color:#ebf0ff;
    min-height: 200px;
    text-align: center;
    padding-top: 25px;
}





/* an insight */

.anworldof {
    font-size: 80% !important;
    font-family: ParagraphFont;
    font-style: italic;
    font-weight: normal;
}

.insighttagline {
    color: #467cff;
}

.btn, .btn-lg {
    border-radius: 200px !important;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2768FF;
    font-family: BlackFont;
    padding-top: 5px;
    padding-bottom: 5px;
}

.highlight {
    background-image: linear-gradient(to bottom, transparent 50%, #A7BCFF 50%);
}

