<div class="blog-card p-2 col-md-4" style="">
    <div style="height: 250px;border-radius: 10px;background-color: #bfd0ff;" class="fill">
        <img class="blog-thumbnail" alt="{{post.thumbnail-alt}}" loading="lazy" src="{{ post.featured-image }}" style="width: auto; height: 120%;">
    </div>

    <span class="categoryicon" style="display: inline-block;padding-bottom: 5px;margin-top: 20px;">{{ post.tags }}</span><br>
    <a href="{{post.url}}" style="font-family: HeadingFont; font-size: 140%;display: inline;">{{post.title}}</a>
    <p style="font-size: 90% !important;margin-top: 5px;">{{ post.content | strip_html | truncatewords: 15 }}</p>

    <span class="page-date">{{ post.date | date: '%B %d, %Y' }}</span>
</div>

<style>
    
.blog-card {
    min-height: 450px;
    min-width: 380px;
    padding-bottom: 15px;
}

.blog-card a {
    color: black; 
    text-decoration: none;
    line-height: 1.8ch;
}

.blog-card:hover a{

    background-image: linear-gradient(to bottom, transparent 50%, #A7BCFF 50%);

    }


@media

/* Fairly small screens including iphones */


only screen and (max-width: 900px)  {
    
    .blog-card {
        margin-top: 20px !important;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 20px;
        margin: 0;
        font-size: 100%;
        min-height: 300px;
        height: auto;
        transform: scale(0.93);

    }


    .blog-card p {
        display: none;
    }

    .blog-card .fill {
        border-radius: 5px !important;
        height: 200px !important;
    }
}
</style>