<div class="col-lg-4 p-2" style="">
    <div class=" blue-icon-card" style="padding: 30px;background-color: #F5F8FF;border-radius: 20px;text-align: center;">
        <span style="display: inline-block;font-size: 300%;">{{include.emoji}}</span>
        <h2 style="color: #3650B8; padding-top: 10px;">{{include.title}}</h2>
        <p style="margin-top: 5px; padding-top: 10px;padding-bottom: 20px;">{{include.description}}</p>
        <a href="{{include.url}}" class="btn btn-primary">{{include.button}}</a>
    </div>
</div>
