{% include header.html %}


<div class="homepage-top">
    <div class="container-fluid">
        <div class="row">
            <div  style="background-color: #d2dffc; padding: 20px;padding-top: 20px;padding-bottom: 20px;color: #3672ff;">
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.description }}</p>
            </div>

</div>
<div class="container-fluid">
    <div class="row justify-content-center">

        {% for post in site.tags[page.title] %}
            <div class="blog-card col-lg-3">
                <div style="height: 200px;border-radius: 10px;" class="fill">
                    <img class="blog-thumbnail" alt="{{post.thumbnail-alt}}" src="{{ post.featured-image }}" style="width: 100%; height: auto;">
                </div>
 
                <a class="categoryicon" href="{{site.baseurl}}/categories/#{{category|slugize}}">#{{ post.categories }}</a>
                <a href="{{post.url}}"><h2 style="margin-bottom: 5px;margin-top: 10px;">{{post.title}}</h2></a>
                <p style="font-size: 90% !important;">{{ post.content | strip_html | truncatewords: 15 }}</p>

                <span class="page-date">{{ post.date | date: '%B %d, %Y' }}</span>
            </div>
        {% endfor %}
    </div>
    


</div>
</div>
{% include newsletterpromotion.html %}
<style>

.blog-card {
    height: 450px;
    margin: 15px;
    border-bottom: 2px #bfd0ff solid;
}

@media

/* Fairly small screens including iphones */


only screen and (max-width: 900px)  {
    
    .blog-card {
        margin-top: 20px !important;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 20px;
        margin: 0;
        font-size: 100%;
        min-height: 300px;
        height: auto;
        

    }

    .blog-card p {
        display: none;
    }

    .blog-card .fill {
        border-radius: 5px !important;
        height: 200px !important;
    }
}



    
</style>
{% include footer.html %}