{% include header.html %}

<div class="fixed-top d-flex w-100 p-4" >
    <img class="mx-auto" src="assets/brand/cn2024.png" style="height: 40px; width: 40px;">
</div>

<div class="d-flex vh-100 bg-grey">

<div class="homepage-content mx-auto my-auto ">
<div class="homepage-card card">


<div class="card-body mx-2 my-2">
<h1 class="special large-fs">Clark Narvas</h1>
<p>Clark Narvas is a multi-hyphenate. He builds a range of different static and interactive media including websites, applications, videos and graphics on digital and physical forms.</p>
<a href="mailto:clark@narvas.co.uk" class="fs-5"><b>Get in touch</b></a><br>

<hr>
<a href="https://by.clarknarvas.com">Browse Portfolio</a><br>
<a href="https://bio.link/clark">Browse Links</a>



</div>

</div>
</div>
</div>