

{% include header.html %}
  <div class="thumbnail-image" style="height: 80vh;background-image: url({{page.featured-image}});background-size: cover; background-position: center;background-repeat: no-repeat;">
      
  </div>

<div class="container" style="    padding-top: 25px;
padding-bottom: 10px;">


  <div class="row">
    <div class="container-writing img-reduce-size">
      <div class="page-details">
        <h1 class="page-title">{{ page.title }} </h1>
        <span class="page-date">{{ page.date | date: '%B %d, %Y' }}</span>
        <br>
        <span class="categoryicon">{{ page.tags }}</span>
      </div>
      {{content}}
    </div>




  </div>
</div>

{% include specialised/donate.html %}
{% include newsletterpromotion.html %}
<style>
  .page-details-2 {
    padding: 10px;
  }



  @media

/* Fairly small screens including iphones */


only screen and (max-width: 900px)  {
  #top, #bottom { height: 10px;}

 #left, #right { width: 10px; }


 
.thumbnail-image {
  height: 50vh !important;
  background-size: cover!important;
  background-position:center !important;
  background-repeat: no-repeat !important;
}
}

h3 { 
    margin-top: 70px; margin-bottom: 25px
}
</style>


{% include footer.html %}