

{% include header.html %}
  <div class="thumbnail-image" style="height: 80vh;background-image: url({{page.featured-image}});background-size: cover; background-position: center;background-repeat: no-repeat;">
      
  </div>

<div class="container" style="    padding-top: 25px;
padding-bottom: 10px;">


  <div class="row">
    <div class="container-writing">
      <div class="page-details">
        <h1 class="page-title">{{ page.title }} </h1>
        <span class="page-date">{{ page.date | date: '%B %d, %Y' }}</span>
        <br>
        <span class="categoryicon">{{ page.tags }}</span>
      </div>
      {{content}}
    </div>

    <!-----
  <div class="col-lg-5">
    <div class="page-details-2">
      <span class="page-date" style="display: block;">This post was written on {{ page.date | date: '%B %d, %Y' }}</span>

      <span style="display: block;">Find more posts like this:</span>
      <a class="categoryicon" href="{{site.baseurl}}/categories/#{{category|slugize}}">#{{ page.categories }}</a>
    </div>

  </div>
  --->
  </div>
</div>

<div class="container">

  <p style="text-align: center;font-weight: 700;">Ads below are not from ClarkNarvas.com, they are from my comments provider. I hate them too!</p>
    <div id="disqus_thread"></div>

    <style>
      #ad-container {
        display: none !important;
      }
    
      #container-top {
        display: none !important;
        opacity: 0 !important;
      }
    </style>
<script>


    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://clark-narvas.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


</div>
{% include newsletterpromotion.html %}
<style>
  .page-details-2 {
    padding: 10px;
  }



  @media

/* Fairly small screens including iphones */


only screen and (max-width: 900px)  {
  #top, #bottom { height: 10px;}

 #left, #right { width: 10px; }


 
.thumbnail-image {
  height: 50vh !important;
  background-size: cover!important;
  background-position:center !important;
  background-repeat: no-repeat !important;
}
}

h3 { 
    margin-top: 70px; margin-bottom: 25px
}
</style>


{% include footer.html %}