{% include header.html %}


{% include specialised/top-page-home.html %}
<div class="container createpaddingonmobile">
    <br><br>
<h2>Across the internet 🌍</h2>
<p style="margin-top: 5px;">I’m all around the internet, creating and building weird and wonderful things.<br><br></p>
    <div class="row justify-content-center" style="">
        {% include components/blue-emoji-card.html emoji="📖" title="wanna read?" description="Check out my written thoughts, opinions and tips!" url="/allblogs" button="Read" %}
        {% include components/blue-emoji-card.html emoji="🎥" title="wanna watch?" description="Here’s a bunch of videos I’ve made in my freetime" url="https://www.youtube.com/channel/UCu197cd4WVhhCUKD1yk0PPQ" button="Watch" %}
        {% include components/blue-emoji-card.html emoji="🛣" title="start from here" description="Don’t know where to start? <br>Start here." url="/starthere" button="Go" %}

        

    </div>
<div class="line">

</div>
<h2 style="padding-bottom: 20px;">The Blog</h2>
    <div class="row justify-content-center" style="">

        {% for post in site.posts limit:3 %}
            {% include components/blogcard.html %}

        {% endfor %}
</div>
</div>

<a href="/allblogs"><h2 style="text-align: center;margin: 30px;"> << More Blog Posts</h2></a>
</div>

{% include newsletterpromotion.html %}

{% include footer.html %}

